<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>libsys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Sregister</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Sregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sregister</servlet-name>
    <url-pattern>/Sregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Aedit</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Aedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aedit</servlet-name>
    <url-pattern>/Aedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Aeditshow</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Aeditshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aeditshow</servlet-name>
    <url-pattern>/Aeditshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Asearch</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Asearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asearch</servlet-name>
    <url-pattern>/Asearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adelete</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Adelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adelete</servlet-name>
    <url-pattern>/Adelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Borrow</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Borrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrow</servlet-name>
    <url-pattern>/Borrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Return</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Return</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Return</servlet-name>
    <url-pattern>/Return</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sborrowshow</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Sborrowshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sborrowshow</servlet-name>
    <url-pattern>/Sborrowshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Slogout</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Slogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Slogout</servlet-name>
    <url-pattern>/Slogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Slogjud</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Slogjud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Slogjud</servlet-name>
    <url-pattern>/Slogjud</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sinshow</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Sinshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sinshow</servlet-name>
    <url-pattern>/Sinshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SinfChange</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.SinfChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinfChange</servlet-name>
    <url-pattern>/SinfChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sshowbors</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Sshowbors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sshowbors</servlet-name>
    <url-pattern>/Sshowbors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Asshow</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Asshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asshow</servlet-name>
    <url-pattern>/Asshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Asdelete</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Asdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asdelete</servlet-name>
    <url-pattern>/Asdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Asedit</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Asedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asedit</servlet-name>
    <url-pattern>/Asedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Aseditshow</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Aseditshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aseditshow</servlet-name>
    <url-pattern>/Aseditshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Abshow</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Abshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Abshow</servlet-name>
    <url-pattern>/Abshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Abremind</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.administrator.Abremind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Abremind</servlet-name>
    <url-pattern>/Abremind</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Sbremind</servlet-name>
    <servlet-class>team.wewon.libsys.servlet.student.Sbremind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sbremind</servlet-name>
    <url-pattern>/Sbremind</url-pattern>
  </servlet-mapping>
  
</web-app>